<div class="container">
  <div class="signup">
    <h2>Sign Up!</h2>
    <br><br>
    <form action="/signup" method="post">
      <label>Username:</label>
      <input type="text" name="username">
      <br><br><br>
      <label>Email:</label>
      <input type="text" name="email">
      <br><br><br>
      <label>Password</label>
      <input type="password" name="password">
      <br><br><br>
      <input type="submit" value="Sign Up" class="signupbutton">
    </form>
  </div>
</div>
