<p class="logout"><a href="/logout">Log Out</a></p>

<h1 class="user_list_title">Your List</h1>

<form class="task_box" action="/user_home" method="post">
  <input type="text" placeholder="Add Task" name="task">
  <input type="submit" value="Add Task!">
</form>
<br><br>

<h3>Click on a task to edit or delete it!</h3>

<div class="container">
  <div class="task_list">
    <% Task.all.each do |task| %>
      <% if task.user_id == session[:user_id] %>
        <div class="ind_task">
          <a href="/user_home/<%= task.id %>"><p><%= task.content %></p></a>
      
        </div>
      <% end %>
    <% end %>
  </div>
</div>
