<div class="container">
  <div class="jumbotron">
    <h1>Welcome to Get It Done!</h1>
    <h2>An app for you to keep track of what needs to get done</h2>
    <br><br>
    <h3><a href="#" class="btn btn-primary">Log In</a> or <a href="/signup" class="btn btn-primary">Sign Up</a></h3>
    <br>
    <h3>to get started!</h3>
  </div>
</div>
